.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.aa{
  font-style: italic;
  color: black;
  background-color: orange;
  border: 1px solid orangered;
  height: 300px;
  font-size: 40px;
  margin: auto;
  font-weight: bold;
}
.ad{
  border: 1px solid red;
  height: 400px;
  margin: auto;
}

.ad img{
  width: 100%;
  height: 100%;
}

.ae{
  border: 1px solid red;
  height: 400px;
  margin: auto;
  padding-bottom: 150px;
  background-color: orangered;
  font-size: 20px;
  font-weight: bold;
  
}

.ae img{
  width: 100%;
  height: 100%;
}

